<div class="tricks-page flex-center">
	{% for trick in tricks %}
		<div class="gallery">
			<a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="trick">
				<img src="{{ trick.image }}" alt="Image présentant la figure {{ trick.name }}">
				<div class="desc">
					{{ trick.name }}
					{% if app.user %}
						<a href="{{ path('app_trick_edit', {slug: trick.slug}) }}">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a href="{{ path('app_trick_remove', {slug: trick.slug}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce trick ? Cette action est irréversible.')">
							<i class="fa-solid fa-trash"></i>
						</a>
					{% endif %}
				</div>
			</a>
		</div>
	{% endfor %}
</div>
