{% if tricks is not empty %}

	{% for trick in tricks %}
		<div class="gallery">
			<a href="{{ path('app_trick_show', {slug: trick.slug}) }}" class="trick">
				{% if trick.picture is not empty %}
					<img src="{{ trick.picture[0].src }}" alt="Image présentant la figure {{ trick.name }}">
				{% endif %}
				<div class="desc">
					{{ trick.name }}

					{% if app.user %}
						<a href="{{ path('app_trick_edit', {slug: trick.slug}) }}">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a href="{{ path('app_trick_remove', {slug: trick.slug}) }}">
							<i class="fa-solid fa-trash"></i>
						</a>
					{% endif %}
				</div>
			</a>
		</div>
	{% endfor %}
{% else %}
	<p>Aucune figure disponible pour le moment.</p>
{% endif %}
