{% extends 'base.html.twig' %}

{% block title %}Modifier un Trick
{% endblock %}


{% block zoneOne %}
	<div id="zoneOne">
		<div class="form-error">
			{{ form_errors(form) }}
		</div>
		{{ form_start(form , {'method': 'POST'}) }}
		<div class="hero-picture minSize">
			<img src="{{ trick.image }}" alt="Image présentant la figure {{ trick.name }}">
			<div id="hero-manageBtn">
				<div class="editTrick-btn flex">
					<button type="button" id="editBtn-hero" class="edit-btn">
						<i class="fa fa-pen"></i>
					</button>
				</div>
				<div id="editTrick-input">
					{{ form_row(form.image) }}
				</div>
			</div>
			<div class="hero-text grand-text ombre">
				<h1>{{ trick.name }}</h1>
			</div>
		</div>

		<div id="carrousel" class="gallery">
			<div>
				{% for picture in trick.picture %}
					<div class="card">
						<img class="card-content" src="{{ picture.src }}" alt="Image présentant la figure {{ trick.name }}">
					</div>
				{% endfor %}

				{% for video in trick.video %}
					{% if "youtube.com" in video.src or "youtu.be" in video.src %}
						<div class="card">
							<iframe width="250" height="140" src="{{ video.src | replace({'youtu.be/': 'www.youtube.com/embed/', 'watch?v=': 'embed/'}) }}" frameborder="0" allowfullscreen></iframe>
						</div>
					{% else %}
						<div class="card">
							<video controls width="250">
								<source src="{{ video.src }}" type="video/mp4">
								<a href="{{ video.src }}">MP4</a>
							</video>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div id="formulaire">
			<div id="formTrick" class="flex-column">
				<h1>Modifier
					{{ trick.name }}</h1>
				{{ form_row(form.name) }}
				<div class="hidden">
					<input type="hidden" name="slug" value="{{ trick.slug}}">
				</div>
				{{ form_row(form.description, {'attr': {'class': 'large-textarea'}}) }}
				{{ form_row(form.category) }}
			</div>

			<h2>Images</h2>
			<button type="button" class="add_item_link" data-collection-holder-class="picture">Ajouter une image</button>
			<ul class="picture" data-index="{{ form.picture|length > 0 ? form.picture|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.picture.vars.prototype)|e('html_attr') }}">
				{% for picture in form.picture %}
					<div class="picture-data">
						<li>{{ form_row(picture.src) }}</li>
						<li>{{ form_row(picture.name) }}</li>
					</div>
				{% endfor %}
			</ul>

			<h2>Vidéos</h2>
			<button type="button" class="add_item_link" data-collection-holder-class="video">Ajouter une vidéo</button>
			<ul class="video" data-index="{{ form.video|length > 0 ? form.video|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.video.vars.prototype)|e('html_attr') }}">
				{% for video in form.video %}
					<li>{{ form_row(video.src) }}</li>
				{% endfor %}
			</ul>
			<div class="hidden">
				{% if not form.picture.rendered %}
					{{ form_row(form.picture) }}
				{% endif %}
				{% if not form.video.rendered %}
					{{ form_row(form.video) }}
				{% endif %}
			</div>
			{{form_row(form.submit)}}

			{{form_end(form)}}
		</div>
		<div>
			<a href="{{ path('app_trick_remove',{slug : trick.slug}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce trick ? Cette action est irréversible.')">
				<button type="submit" class="btn">
					<i class="fa-solid fa-trash"></i>
				</button>
			</a>
		</div>
	</div>
	<script src="{{ asset('js/MoreAssetTricks.js') }}"></script>

{% endblock %}
