{% extends 'base.html.twig' %}
{% block title %}SnowTricks - Accueil
{% endblock %}

{% block sectionOne %}
	<div id="picture-trick">
		<div id="btnZone" class="flex">
			<a href="{{ path('app_trick_edit',{id : trick.id}) }}">
				<button type="button" class="btn">
					<i class="fa-solid fa-pen"></i>
				</button>
			</a>
			<form action="{{ path('app_trick_remove',{id : trick.id}) }}" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button type="submit" class="btn">
					<i class="fa-solid fa-trash"></i>
				</button>
			</form>
		</div>
		{% for picture in trick.picture %}
			{% if picture.name == "default" %}
				<img src="{{ picture.src}}" alt="Image présentant la figure {{ trick.name }}">
			{% endif %}
		{% endfor %}
		<h1>{{trick.name}}</h1>
		<h2>{{ trick.user.pseudo }}</h2>
	</div>
{% endblock %}

{% block sectionTwo %}
	<div class="flex-column-center">

		<details id="gallery" class="flex" open>
			<summary>GALERIE</summary>
			<div>
				<div id="gallery-img">
					{% for picture in trick.picture %}
						<img src="{{ picture.src}}" alt="Image présentant la figure {{ trick.name }}">
					{% endfor %}
				</div>
				<div id="gallery-video">
					{% for video in trick.video %}
						{# <video controls width="250">
																																																																																																																																																																																											<source src="{{ video.src}}" type="video/webm"/>
																																																																																																																																																																																											<a href="{{ video.src}}">MP4</a>
																																																																																																																																																																																											<source src="{{ video.src}}" type="video/mp4"/>
																																																																																																																																																																																										</video>
																																																																																																																																																																																										<iframe id="video{{ video.id}}" title="Inline Frame Example {{ video.name}}" width="300" height="200" src="{{ video.src}}"></iframe> #}
					{% endfor %}
				</div>
			</div>
		</details>

		<details open>
			<summary>DETAILS</summary>
			<p>{{ trick.category.name }}</p>
		</details>

		<details id="comment" class="flex">
			<summary>COMMENTAIRES</summary>
			<button type="button" class="btn">
				<i class="fa-solid fa-pen"></i>
			</button>
			<div id="comment-form">
				{{form(form)}}
				</div>
				{% for comment in trick.comments %}
					<div id="comment-bloc" class="flex-column">
						<p>{{ comment.content}}"</p>
					</div>
				{% endfor %}
			</details>
		</div>
	{% endblock %}
