{% extends 'base.html.twig' %}
{% block title %}SnowTricks - trick
{% endblock %}

{% block  zoneOne %}

	<div id="zoneOne">
		<div class="hero-picture">
			{% for picture in trick.picture %}
				{% if loop.first %}
					<img src="{{ picture.src}}" alt="Image présentant la figure {{ trick.name }}">
					<div class="hero-text grand-text ombre">
						<h1>{{trick.name}}</h1>
					</div>
				{% endif %}
			{% endfor %}
			{% if app.user %}
				<div id="btn-trickZone" class="flex">
					<a href="{{ path('app_trick_edit',{slug : trick.slug}) }}">
						<button type="button" class="btn">
							<i class="fa-solid fa-pen"></i>
						</button>
					</a>
					<a href="{{ path('app_trick_remove',{slug : trick.slug}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce trick ? Cette action est irréversible.')">
						<button type="submit" class="btn">
							<i class="fa-solid fa-trash"></i>
						</button>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block zoneTwo %}
	<div id="zoneTwo" class="flex-column-center">
		<div id="carrousel" class="gallery">
			<div>
				{% for picture in trick.picture %}
					<div class="card">
						<img class="card-content " src="{{ picture.src}}" alt="Image présentant la figure {{ trick.name }}">
					</div>
				{% endfor %}
				{% for video in trick.video %}
					{% if "youtube.com" in video.src or "youtu.be" in video.src %}
						{# <iframe width="250" height="140" src="{{ video.src | replace({'watch?v=': 'embed/'}) }}" frameborder="0" allowfullscreen></iframe> #}
						<div class="card">
							<a href="{{ video.src }}" target="_blank">

								<img class="video" src="https://img.youtube.com/vi/{{ video.src | split('?v=') | last | split('&') | first }}/hqdefault.jpg" alt="Vidéo YouTube">

							</a>
						</div>
					{% else %}
						<div class="card">
							<video controls width="250">
								<source src="{{ video.src }}" type="video/mp4">
								<a href="{{ video.src }}">MP4</a>
							</video>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div id="details" class="flex-column-center">
			<h2>{{trick.name}}</h2>
			<div id="details-descr">{{trick.description}}</div>
			<div id="details-info" class="flex">
				<p class="encart">{{ trick.category.name }}</p>
				<p class="encart">
					Mise en ligne :
					{{trick.createAt|date("m/d/Y")}}</p>
				<p class="encart">Dernière modification :
					{{trick.updateAt|date("m/d/Y")}}</p>
			</div>
			<hr/>

		</div>
		<div id="details-info" class="flex-column">
			{% if app.user %}
				<div id="comment-form">
					{{form(form)}}
					</div>
				{% endif %}
				<hr/>
				<div id="comments-container">
					{% for comment in trick.comments %}
						<div class="comment-bloc flex-column" {% if loop.index > 5 %} style="display: none;" {% else %} style="display: flex;" {% endif %}>
							<div class="commentaire flex">
								<div class="avatar">
									{% if comment.user and comment.user.avatar %}
										<img src="{{ comment.user.avatar }}" alt="Avatar de {{ comment.user.pseudo }}" class="avatar-img">
									{% else %}
										<img src="https://img.freepik.com/free-vector/para-snowboard-concept-illustration_114360-18502.jpg?t=st=1739357466~exp=1739361066~hmac=b818099bdbc92853d7d27ba02bc77f9772328ee776b0a503dbdb1f312a5d7408&w=740" alt="Avatar par défaut" class="avatar-img">
									{% endif %}
								</div>
								<div class="texte">{{ comment.content }}</div>
							</div>
						</div>
					{% endfor %}
				</div>


				{% if trick.comments|length > 5 %}
					<button id="load-more" class="btn">Afficher plus</button>
				{% endif %}

			</div>
			<script src="{{ asset('js/comment.js') }}"></script>

		{% endblock %}
